<head>
	<title>front_end</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style1.css">


</head>
<br/><br/><br/><br/><br/><br/><br/>
<body style="background-color:#888">
<div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-4">
<div class="container">
<table border="3px">
	<tr>
		<th>ID</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>edit</th>
		<th>delete</th>
	</tr>
	<% @userdetail.each do |var|%>
	<tr>
		<td><%= var.id%></td>
		<td>
			<%= var.firstname%>
		</td>
		<td>
			<%= var.lastname%>
		</td>
		<td>
			<%= var.email%>
		</td>
		<td>
			<%= link_to 'edit',userdetails_edit_path(var.id)%>
		</td>
		<td>
			<%= link_to 'Destroy', userdetails_destroy_path(var.id), method: :delete%>
		</td>
		<td>
			<%= link_to 'profile', userdetail_show_path(var.id)%>
		</td>
	</tr>
	<%end%>
</table>
<br/>
<%= link_to 'to create new record', userdetails_create_path%>
<br/>
</div>
<div class="col-xs-4"></div>
</div>
</body>
